.footer-container {
  background-color: $primary-color;
  &__list {
    display: flex;
    justify-content: flex-end;
  }
  &__item {
    color: white;
    list-style: none;
    margin-right: 40px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
