.footer-container {
  background-color: $primary-color;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 100px;

  &__list {
    display: flex;
    justify-content: flex-end;
  }
  &__item {
    color: white;
    list-style: none;
    margin-right: 40px;
  }
}
